@model ProjektHotele.VievModels.LoginVievModels
@{
    ViewBag.Title = "Login";
}

<div style="margin-top: 150px;" class="modal-dialog text-center">
    <div class="col-sm-9 main-section">
        <div class="modal-content">

            <div class="col-12 user-img">
                <img src="~/img/face2.png">
            </div>

            @using (@Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()



                <div id="login-error">
                    @Html.ValidationMessage("loginerror", "")
                </div>

                <table id="login-table" style="margin-left: auto; margin-right: auto;">
                    <tr>
                        <td>@Html.LabelFor(o => o.Email, "Email:")</td>
                        <td>
                            @Html.TextBoxFor(o => o.Email)
                            <div class="login-validation-message">
                                @Html.ValidationMessageFor(o => o.Email)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(o => o.Password, "Hasło:")</td>
                        <td>
                            @Html.PasswordFor(o => o.Password)
                            <div class="login-validation-message">
                                @Html.ValidationMessageFor(o => o.Password)
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <div class="checkbox" style="margin-bottom: 10px;">
                                @Html.CheckBoxFor(m => m.RememberMe, new { @checked = "checked" })
                                @Html.LabelFor(m => m.RememberMe)
                            </div>

                            <input type="submit" value="Zaloguj się" class="btn btn-info" />

                        </td>
                    </tr>
                </table>
            }

            <div class="col-12 forgot" style="text-align: center;">

                <a href="@Url.Action("Register")">Zarejestruj się</a>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/jquery-2.2.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}
